In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
dataset=pd.read_excel('Superstore.xls')
dataset.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [5]:
dataset.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [7]:
x= dataset[['Sales','Quantity','Discount']]
y=dataset['Profit']
from sklearn.model_selection import train_test_split
x_train, x_test , y_train , y_test = train_test_split(x,y,test_size=0.2)

In [9]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [11]:
coeff_df=pd.DataFrame(regressor.coef_,x.columns,columns=['Coefficient'])
coeff_df

          Coefficient
Sales        0.191973
Quantity    -2.959686
Discount  -236.643453

In [12]:
print(regressor.intercept_)

33.38006757733497

In [13]:
y_pred = regressor.predict(x_test)
df=pd.DataFrame({'Actual': y_test,'Predicted':y_pred})

In [14]:
df

        Actual   Predicted
4748   11.9952   31.273811
8993 -968.8833  278.003399
2748   -6.0324 -139.570238
3166    9.4815   28.215684
1202   10.6794  141.184658
113    14.5348  -47.686881
4148    1.2005  -14.274442
1079    2.3220  -15.587536
4532   13.7646    0.660575
5635   28.8960  -12.897778
9471    3.7128  -14.715211
9032  146.3880  121.135739
1898 -336.7840  -47.129045
4633   34.4940   92.697896
5807    8.7168   -3.134110
3368   41.1684   54.713154
3569  209.5800  428.106492
6237    9.2176  -20.731570
1408    9.9950   35.135768
2058   70.0060  106.515092
2252   68.9760   52.087501
2074   66.6351  111.529304
2519   14.4354   21.277472
6854   14.7184   92.179633
3508    5.4432  -19.842119
1629  -34.3800 -142.108434
7604  -33.3582 -112.651954
536   -68.1856 -168.471382
3735   16.5531   38.317292
1005   40.3536   -0.693985
...        ...         ...
9400   14.6264   27.515518
2211   29.7408   24.073121
516    13.8915   34.378011
3054    2.4288   28.474313
5881  180.7659   77.563579
9636   55.0160   53.864634
1261  -14.0928 -140.727299
2381   11.6263  -24.163207
250     3.5767   31.881295
7240   26.5440   25.401582
1312   56.1752   44.985042
3834  -34.9176   70.814484
8931   22.9885   37.769320
7431    8.4942   30.772762
2557    0.5244  -18.525721
9847  132.9900  116.775722
9766    3.5010   31.913930
6155   33.2704   46.961807
3729    7.9724   35.515875
3835    0.8288  -19.413403
4100   -5.2072 -158.459754
9011   21.4200   -0.517137
8118  -75.1920   51.592016
2028    6.9231   27.328770
4415   71.9900   90.692975
4007   21.4074   35.191660
5780   24.2919   -9.010246
9383   -1.0490  -12.636695
9312    4.7616  -13.599397
1128   50.9400   35.180142

[1999 rows x 2 columns]

In [16]:
from sklearn import metrics
from sklearn.metrics import mean_squared_error,r2_score
print('mean square error',mean_squared_error(y_test,y_pred))
print('root mean squared error',np.sqrt(mean_squared_error(y_test,y_pred)))
print('r_2 statistic: %.2f' % r2_score(y_test,y_pred))

mean square error 29974.042002437465
root mean squared error 173.13013025593628
r_2 statistic: 0.08